/* global */
@import url('https://fonts.googleapis.com/css?family=Roboto');



body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #111111;
    font-size: 20px;
    vertical-align: middle;
    text-align: center;

}

h1,.white{
    color: #111111;
}

h2 {
    color: #D5492E;
}

a{
    color: #4CCCDE;
    text-decoration: none;
}

.social {
    font-size:60px;
    color: #36BF80;
}

img {
    border-radius: 50%;
}